@charset "UTF8";

*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

body{
    background-color: #84E1AD;
    width: 600px;
    margin-top: -15px;
    margin-bottom: -10px;
    margin-left: auto;
    margin-right: auto;
}

header#cabecalho{
    background-image: linear-gradient(180deg, #3BD580, #1A5C38);
    color: white;
    position: relative;
    height: 150px;
}

header#cabecalho ul{
    position: absolute;
    top: 115px;
    display: flex;
}

.menu{
    text-decoration: none;
    padding: 10px;
}

.ajuste{
    width: 100%;
}

div#corpo{
    background-color: white;
    margin-top: -11px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

article#extra{
    background-color: #2FA866;
}

article#extra h2{
    color: white;
}

article#extra div.extra{
    background-color: #C5EBD6;
    padding: 5px;
}

footer#rodape{
    margin-top: 10px;
    background-color: #1A5C38;
    color: white;
    padding: 2px;
    text-align: center;
}